p{
    font-family: 'Karla', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Rubik',sans-serif;
}

a{
    font-family: 'Karla', sans-serif;
    
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    
}

label{
    color: #9e3039;
}

.cal{
    border: 1px solid black;
}

